@model ExecViewHrk.WebUI.Models.PersonMembershipVm
<div class="card p-15">
    <div class="card-header">
        <h5 class="card-header-text">Person Membership</h5>
    </div>
    <div class="card-block">
        <div class="row">
            @using (Html.BeginForm("PersonMemberships", "PersonMemberships", FormMethod.Post, new { role = "form", id = "PersonMembershipForm" }))
            {
                @Html.HiddenFor(model => model.PersonId, new { id = "hiddenPersonId" })
                @Html.HiddenFor(model => model.PersonMembershipId, new { id = "hiddenPersonMembershipId" })
                @Html.ValidationSummary(true)
                <div class="col-sm-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span>Professional Body</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.ProfessionalBodyId,
                      new SelectList(Model.ProfessionalBodyDropDownList, "keyvalue", "keydescription", Model.ProfessionalBodyId), new { @class = "form-control", data_required = "Y" })
                            @if (!User.IsInRole("ClientEmployees"))
                            {
                                <span class="input-group-addon bg-dark-primary-theme" data-toggle="modal"  onclick="quickAdd(event,'ProfessionalBody');" >
                                    <span class="fa fa-plus"></span>
                                </span>
                            }
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.ProfessionalBodyId)
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span>Regional Chapter</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.RegionalChapterId,
                      new SelectList(Model.RegionalChapterDropDownList, "keyvalue", "keydescription", Model.RegionalChapterId), new { @class = "form-control", data_required = "Y" })
                            @if (!User.IsInRole("ClientEmployees"))
                            {
                                <span class="input-group-addon bg-dark-primary-theme" data-toggle="modal"  onclick="quickAdd(event,'RegionalChapter');" >
                                    <span class="fa fa-plus"></span>
                                </span>
                            }
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.RegionalChapterId)
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group ">
                        <label>Professional Title</label>
                        @Html.TextBoxFor(x => x.ProfessionalTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ProfessionalTitle)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span>Start Date</label>
                        @Html.TextBoxFor(model => model.StartDate, "{0:MM/dd/yyyy}", new { @class = "datepicker form-control", data_required = "Y" })
                        <div>
                            @Html.ValidationMessageFor(x => x.StartDate)
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group ">
                        <label>Fee</label>
                        @Html.TextBoxFor(x => x.Fee, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Fee)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span>Fee Paid Date</label>
                        @Html.TextBoxFor(model => model.FeePaidDate, "{0:MM/dd/yyyy}", new { @class = "datepicker form-control", data_required = "Y" })
                        <div>
                            @Html.ValidationMessageFor(x => x.FeePaidDate)
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group ">
                        <label><span style="color:red">*</span>Number</label>
                        @Html.TextBoxFor(x => x.Number, new { @class = "form-control", data_required = "Y" })
                        @Html.ValidationMessageFor(x => x.Number)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label><span style="color:red">*</span>Renewal Date</label>
                        @Html.TextBoxFor(model => model.RenewalDate, "{0:MM/dd/yyyy}", new { @class = "datepicker form-control", data_required = "Y" })
                        <div>
                            @Html.ValidationMessageFor(x => x.RenewalDate)
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label>Notes</label>
                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @style = "height:80px;" })
                        @Html.ValidationMessageFor(x => x.Notes)
                    </div>
                </div>
            }
          
        </div>
    </div>
</div>
<div class="p-15 text-right">
    <button type="button" class="btn btn-default waves-effect md-close m-r-15">Cancel</button>
    <button type="button" class="btn btn-primary" id="btnSavePersonMembershipAjax">Done</button>
</div>

<script>
    $(document).ready(function () {
        pageSetup();
    });
    
    $("#btnSavePersonMembershipAjax").click(function (e) {
        e.preventDefault();

        if (!ValidateForm("PersonMembershipForm")) {
            loading(false);
            return;
        }
        var isOk = CompareDatesInn("StartDate", "RenewalDate", 'Start Date', 'Renewal Date');

        if (!isOk) {
            loading(false);
            return
        }
        var postData = $("#PersonMembershipForm").serializeArray();
        var formURL = $("#ApplicationUrl").val() + "PersonMemberships/PersonMembershipsSaveAjax";
        $.post(formURL, postData, function (data, status) {
             if (data.succeed == false) {
                //formService.isSavingInProgress = false;
                toastr.error(data.Message);
            }
            else {
                 var _oldhiddenPersonMembershipId = $("#hiddenPersonMembershipId").val();
                 resetGrid("gridPersonMembership");
                 $("#btnSavePersonMembershipAjax").parent().find(".md-close").click();
                //formService.isLoadingInProgress = true;
               // killTimer();
                if (_oldhiddenPersonMembershipId != "0") {
                    //timeOutFn = setTimeout(function () {
                        //formService.isSavingInProgress = false;
                        toastr.success(formService.messages.updated);
                        //formService.isLoadingInProgress = false;
                    //}, 0);
                }
                else {
                    //timeOutFn = setTimeout(function () {
                        //formService.isSavingInProgress = false;
                        toastr.success(formService.messages.saved);
                        //formService.isLoadingInProgress = false;
                    //}, 0);
                }
            }
        });
    });

    function CompareDatesInn(StartDate, RenewalDate, startDateLabel, endDateLabel) {
        var first = getTimeFn(StartDate);
        var last = getTimeFn(RenewalDate);
        var isOk = true;
        if (first != null && last != null) {
            var dateDifference = Math.ceil((first - last) / (1000 * 3600 * 24));
            if (dateDifference > 0) {
                toastr.error(endDateLabel + " should not be less than " + startDateLabel + " .");
                isOk = false;
            }
        }
        return isOk;
    }
    function getTimeFn(selector) {
        var selectedDate = $("#" + selector)[0].value;
        if (selectedDate && (selectedDate != '' || typeof (selectedDate) != undefined)) {
            var time = new Date(moment.utc(new Date(selectedDate), 'MM/DD/YYYY')).getTime();
            return time;
        } else {
            return null;
        }

    }
</script>
