@model ExecViewHrk.WebUI.Models.TimeCardHeaderVm


<div class="row" style="@(User.IsInRole("HrkAdministrators") || User.IsInRole("ClientManagers") || User.IsInRole("ClientAdministrators") ? "display:block" : "display:none")">
    <div class="col-md-11 ">
        <div class="row">
            <div class="col-md-3 ">
                <label>Company Codes</label>
                @(Html.Kendo().DropDownListFor(model => model.CompanyCodeId)
                        //.Name("CompanyCodeIdDdl")
                                .HtmlAttributes(new { id = "CompanyCodeIdDdl", style = "width:300px" })
                                .DataTextField("CompanyCodeDescription")
                                .DataValueField("CompanyCodeId")
                                .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCompanyCodes", "TimeCards").Type(HttpVerbs.Post);
                                        })
                                        .ServerFiltering(true);
                                    })
                                .Value(@Model.CompanyCodeId.ToString())
                                .OptionLabel("- select one -")
                )
                @Html.ValidationMessageFor(model => model.CompanyCodeId)
            </div>

            <div class="col-md-offset-1 col-md-3 ">
                <label>Departments</label>

                @(Html.Kendo().DropDownListFor(model => model.DepartmentId)
                        //.Name("DepartmentIdDdl")
                                .HtmlAttributes(new { id = "DepartmentIdDdl", style = "width:300px" })
                                .DataTextField("CompCode_DeptCode_DeptDescription")
                                .DataValueField("DepartmentId")
                                .Filter(FilterType.Contains)
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetDepartmentsList", "TimeCards").Data("filterDepartmentsByCompanyCode").Type(HttpVerbs.Post); //.Data("additionalData");

                                    })
                                    .ServerFiltering(true);
                                })
                                .AutoBind(true)
                                .CascadeFrom("CompanyCodeIdDdl")
                                .Value(@Model.DepartmentId.ToString())
                                .OptionLabel("- select one -")
                )
                @Html.ValidationMessageFor(model => model.DepartmentId)
            </div>


            <div class="col-md-offset-1 col-md-3 ">
                <label>Employees</label>

                @(Html.Kendo().DropDownListFor(model => model.EmployeeId)
                        //.Name("EmployeeIdDdl")
                                .HtmlAttributes(new { id = "EmployeeIdDdl", style = "width:300px" })
                                .DataTextField("EmployeeFullName")
                                .DataValueField("EmployeeId")
                                .Filter(FilterType.Contains)
                                .DataSource(source =>
                                {
                                    source.Custom()
                                    .Group(g => g.Add("EmployeeRole", typeof(string)))
                                    .Transport(transport => transport
                                    .Read(read =>
                                    {
                                        read.Action("GetEmployeesList", "TimeCards").Data("filterEmployeesByDepartment").Type(HttpVerbs.Post); //.Data("additionalData");
                                    }))
                                    .ServerFiltering(true);
                                })
                                .AutoBind(true)
                                .CascadeFrom("DepartmentIdDdl")
                                .Value(@Model.EmployeeId.ToString())
                                .OptionLabel("- select one -")
                                .Events(e => e.Change("OnChangeEmployee"))
                )
                @Html.ValidationMessageFor(model => model.EmployeeId)
            </div>

        </div>
    </div>

</div>



<div class="row" style="margin-top:20px">
    <div class="col-md-3">
        <label>Pay Period</label>

        @if (User.IsInRole("ClientEmployees"))
        {
            @(Html.Kendo().DropDownListFor(model => model.PayPeriodId)
                //.Name("EmployeeIdDdl")
                .HtmlAttributes(new { id = "PayPeriodIdDdl", style = "width:300px" })
                .DataTextField("PayPeriod")
                .DataValueField("PayPeriodId")
                .Filter(FilterType.Contains)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetPayPeriodsList", "TimeCards").Data("filterByArchive");
                    })
                    .ServerFiltering(true);
                })
                .AutoBind(true)
                .Value(@Model.PayPeriodId.ToString())
                .OptionLabel("- select one -")
                .Events(e => e.Change("OnChange"))
            )
        }
        else
        {
            @(Html.Kendo().DropDownListFor(model => model.PayPeriodId)
                //.Name("EmployeeIdDdl")
                .HtmlAttributes(new { id = "PayPeriodIdDdl", style = "width:300px" })
                .DataTextField("PayPeriod")
                .DataValueField("PayPeriodId")
                .Filter(FilterType.Contains)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetPayPeriodsList", "TimeCards").Data("filterDepartmentsByCompanyCode").Type(HttpVerbs.Post);
                    })
                    .ServerFiltering(true);
                })
                .AutoBind(true)
                .CascadeFrom("CompanyCodeIdDdl")
                .Value(@Model.PayPeriodId.ToString())
                .OptionLabel("- select one -")
                .Events(e => e.Change("OnChange"))
            )
        }
        @Html.ValidationMessageFor(model => model.PayPeriodId)
    </div>

    <div class="col-md-offset-1 col-md-2" style="margin-top:20px;">

        @if (User.IsInRole("HrkAdministrators") || User.IsInRole("ClientManagers") || User.IsInRole("ClientAdministrators"))
        {
            @Html.CheckBoxFor(m => m.Approved) @*, new { @onclick = "ApprovePayPeriod()" }*@
            <label style="vertical-align:middle;">Approved</label>
        }
        else
        {
            @Html.CheckBoxFor(m => m.Approved, new { @disabled = "disabled" })
            <label style="vertical-align:middle;color: #ccc;">Approved</label>
        }

        @*@Html.EditorFor(x => x.Approved, new { @class = "form-control", style = "width:14px; height:14px; display:inline-block; margin-left: 10px; margin-top:20px" })*@
    </div>

    <div class="col-md-offset-3 col-md-2 text-center">
        <div class="row" style="margin-top:20px">
            
            
        </div>
    </div>

</div>


