@model ExecViewHrk.EfClient.DdlEmploymentStatus
@{
    ViewBag.Title = "Lookup Table";
    Layout = null;
}


<div class="card p-15">
    <div class="card-header">
        <h5 class="card-header-text">Lookup Table</h5>
    </div>
    <div class="card-block">
        <div class="row">
            @using (Html.BeginForm("StatusesListEditMaintenance", "DdlEmploymentStatuses", FormMethod.Post, new { role = "form", id = "StatusForm" }))
            {
                @Html.HiddenFor(model => model.EmploymentStatusId, new { @Id = "hiddenStatusId" })
                @Html.ValidationSummary(true)

                <div class="col-sm-3">
                    <div class="form-group ">
                        <label><span style="color:red">*</span> Code</label>
                        @Html.TextBoxFor(x => x.Code, new { @class = "form-control", data_required = "Y", @id = "txtcode" })
                        @Html.HiddenFor(x => x.Code, new { @id = "hdnstatuscode" })
                        @Html.ValidationMessageFor(x => x.Code)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group ">
                        <label><span style="color:red">*</span> Description</label>
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", data_required = "Y", @id = "txtDescription" })
                        @Html.HiddenFor(x => x.Description, new { @id = "hdnstatusDescription" })
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
                <div class="col-sm-3 p-t-30">
                    <div class="form-group ">
                        <div class="checkbox-primary">
                            @Html.ValidationMessageFor(model => model.Active)

                            @if (Model.Active == true)
                            {
                                <input id="@Html.NameFor(x => x.Active)" type="checkbox" value="" checked="checked">
                            }
                            else


                            {
                                <input id="@Html.NameFor(x => x.Active)" type="checkbox" value="">
                            }

                            @Html.LabelFor(x => x.Active)
                            @Html.HiddenFor(x => x.Active)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="p-15 text-right">
    <button type="button" class="btn btn-default waves-effect md-close m-r-15">Cancel</button>
    <button type="button" class="btn btn-primary" id="btnUpdateStatusAjax">Done</button>
</div>

<script>
    $(document).ready(function () {        
        pageSetup();
        var isDefault=@ViewBag.isDefault;
        if (isDefault== 1) {
            $("#txtcode").attr('disabled', true);
            $("#txtDescription").attr('disabled', true);
        }
        loading(false)
    });
    $("#btnUpdateStatusAjax").click(function (e) {        
        e.preventDefault();
        if (!ValidateForm("StatusForm")) {
            loading(false);
            return;
        }
        var postData = $("#StatusForm").serializeArray();
        var formURL = $("#ApplicationUrl").val() + "DdlEmploymentStatuses/saveajx";
        $.post(formURL, postData, function (data, status) {

            if (data.succeed == false) {
                toastr.error(data.Message);
            }
            else {
                var _oldhiddenDepartmentId = $("#hiddenStatusId").val();
                LoadMenu("DdlEmploymentStatusesListMaintenance", "DdlEmploymentStatuses");
                $("#btnUpdateStatusAjax").parent().find(".md-close").click();
                if (_oldhiddenDepartmentId != "0") {
                    toastr.success(formService.messages.updated);
                }
                else {
                    toastr.success(formService.messages.saved);
                }
            }
        });
    });
</script>