@using System.Web.Routing;
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HrkAdminLayout.cshtml";
}

@model ExecViewHrk.WebUI.Models.EmployeeHome
@{

    string alert = "";

    if (ViewBag.AlertMessage != null)
    {
        alert = (string)ViewBag.AlertMessage;
    }
}
@Html.ValidationSummary(true)

<style>
    #matrix a:hover {
        background-color: red;
    }

    #matrix img {
        border: 0px solid red;
    }

        #matrix img:hover {
            outline: 2px solid white;
        }

    #matrix > div {
        text-align: center;
    }

    #a {
        margin: 5px;
    }
</style>
<div class="container-fluid">
    <div class="row p-t-15">
        <div class="col-md-12 m-t-20">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block m-height">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="FormEntryDiv">
                                    </div>
                                    @if (User.IsInRole("ClientEmployees"))
                                    {
                                      
                                    }
                                </div>
                                <!-- end of col-sm-8 -->
                            </div>
                            <!-- end of row -->
                        </div>
                    </div>
                    <!-- end of card -->
                </div>
                <!-- end of col-sm-6 -->
            </div>
            <br><br>
        </div>
    </div>
    <div class="row p-t-15">

        <div class="col-lg-12 col-md-12">
            <div class="col-lg-12 col-md-12 p-0">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        @*<div id="matrix" class="container-fluid" style="background-color:black; border-width:3px; border-color:red; border-style:solid">

                                        <div class="row" style="margin-top:10px; margin-bottom:10px; @(User.IsInRole("ClientEmployees") ? "display:block" : "display:none")">
                                            <div id="empTimecard_Div" class=" col-md-4 " style="display:none">

                                                @if (@Model.TimeCardTypeCode.Equals("IO", StringComparison.InvariantCultureIgnoreCase))
                            {
                            <a style="margin:5px;" data-ajax="true" data-ajax-begin="OnBeginAjax" data-ajax-complete="OnCompleteAjax" data-ajax-failure="OnFailureAjax"
                               data-ajax-mode="replace" data-ajax-success="OnSuccessAjax" data-ajax-update="#FormEntryDiv"
                               href="@Url.Content("~/")TimeCards/TimeCardsInAndOutMatrixPartial?IsArchived=false">
                                <img src="~/images/TimeCardNewBlocks/TimeCardInandOut.png" style="width:180px;height:180px; margin-top:5px; margin-bottom:5px; ">
                            </a>
                            }
                            else if (@Model.TimeCardTypeCode.Equals("FIO", StringComparison.InvariantCultureIgnoreCase))
                            {
                            <a style="margin:5px;" data-ajax="true" data-ajax-begin="OnBeginAjax" data-ajax-complete="OnCompleteAjax" data-ajax-failure="OnFailureAjax"
                               data-ajax-mode="replace" data-ajax-success="OnSuccessAjax" data-ajax-update="#FormEntryDiv"
                               href="@Url.Content("~/")TimeCards/TimeCardsFastInOutMatrixPartial">
                                <img src="~/images/TimeCardBlocks/TimeCardFastInOut.jpg" style="width:180px;height:180px; margin-top:5px; margin-bottom:5px; ">
                            </a>
                            }
                            else if (@Model.TimeCardTypeCode.Equals("DH", StringComparison.InvariantCultureIgnoreCase))
                            {
                            <a style="margin:5px;" data-ajax="true" data-ajax-begin="OnBeginAjax" data-ajax-complete="OnCompleteAjax" data-ajax-failure="OnFailureAjax"
                               data-ajax-mode="replace" data-ajax-success="OnSuccessAjax" data-ajax-update="#FormEntryDiv"
                               href="@Url.Content("~/")TimeCards/TimeCardsMatrixPartial?IsArchived=false">
                                <img src="~/images/TimeCardNewBlocks/TimeCard.png" style="width:180px;height:180px; margin-top:5px; margin-bottom:5px; ">
                            </a>

                            }
                            else
                            {
                            <p style="color:red;font-size:200%;">Set Timecard Type</p>
                            }

                                                <a style="margin:5px; padding-top:5px" data-ajax="true" data-ajax-begin="OnBeginAjax" data-ajax-complete="OnCompleteAjax" data-ajax-failure="OnFailureAjax"
                                                   data-ajax-mode="replace" data-ajax-success="OnSuccessAjax" data-ajax-update="#FormEntryDiv"
                                                   href="@Url.Content("~/")TimeOffRequests/TimeOffRequestsMatrixPartial/NSS"><img src="~/images/TimeCardNewBlocks/EmployeeAllocation.png" style="width:140px;height:140px; margin-top:10px; margin-bottom:20px;"></a>
                                            </div>
                                        </div>



                                    </div>*@
                        @*<div id="FormEntryDiv">
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $('#empTimecard_Div').show(1500);

        var formEntryDiv = $("#FormEntryDiv");




        $("#matrix a").click(function (e) {
            //e.preventDefault();
            $('#matrix').hide(1500);
            $('#closeButtonDiv').show(1500);
            $('#FormEntryDiv').show(1500);

        });

        $("#closeButtonDiv").click(function (e) {
            e.preventDefault();
            $('#matrix').show(1500);
            $('#closeButtonDiv').hide(1500);
            $('#FormEntryDiv').hide(1500);
        });

        // this works if the button is in the partial view
        $(document).on("click", "#closeButtonDiv", function (e) {
            e.preventDefault();
            $('#matrix').show(1500);
            $('#closeButtonDiv').hide(1500);
            $('#FormEntryDiv').hide(1500);
        });



        // this definition will fire ok
        //$(document).on("change", "#personImageInput", function (e) {
        //
        //    //e.preventDefault();
        //    var formData = new FormData();
        //    var totalFiles = document.getElementById("personImageInput").files.length;
        //});


        // this is the event for the link under the person image to upload pic on the PersonDdlPartialMatrix.cshtml
        $("#personImageInput").change(function () {
            //
            var formData = new FormData();
            var totalFiles = document.getElementById("personImageInput").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("personImageInput").files[i];

                formData.append("personImageInput", file);
            }

            var ddlPerson = $("#ddlPersonId").data("kendoDropDownList");
            var personId = ddlPerson.value();

            formData.append("personId", personId);

            $.ajax({
                type: "POST",
                url: "@Url.Action("UploadPersonImage", "Person")",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('success!!');

                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetBase64Image", "Person")",

                        success: function (response) {
                            //
                            $('#personImageDiv').html('<img width="100" height="100" src="data:image/jpg;base64,' + response.base64image + '"/>');
                        },
                        error: function (error) {
                            alert("errror");
                        }
                    });
                },
                error: function (error) {
                    alert("errror");
                }
            });
        });

    });

    function OnBeginAjax() {

    }

    function OnSuccessAjax(data) {

        //alert("Got to On Success Ajax");
    }

    function OnFailureAjax(request, error) {
        //alert("Got to On Failure Ajax");
    }

    function OnCompleteAjax(request, status) {
        //alert("Got to On Complete Ajax");
    }

</script>

