@{
    ViewBag.Title = "Time Card";
}
@model ExecViewHrk.Models.TimeCardVm
@{
    string alert = "";
    if (ViewBag.AlertMessage != null)
    {
        alert = (string)ViewBag.AlertMessage;
    }


}
<script>
    function edit(e) {
        //if (e.model.isNew() == false) {
        //    $('input[name="DailyHours"]').attr("readonly", true);
        //}
        //$('input[name="DailyHours"]').attr("readonly", true);
        //$('input[name="LineTotal"]').attr("readonly", true);
    }
</script>
@Html.ValidationSummary(true)
<div class="container-fluid">
    @using (Html.BeginForm("TimeCardMatrix", "TimeCardMatrix", FormMethod.Post, new { role = "form", id = "TimeCardFormDdl" }))
    {
        @Html.HiddenFor(model => model.IsArchived, new { id = "hiddenIsArchived" })
        <div class="row p-t-15">
            <div class="col-lg-12 col-md-12">
                <div class="main-header col-sm-12 p-0 m-b-0">
                    <div class="col-md-8 m-b-10 p-0">
                        @*<div class="row">
                                <div class="col-md-3">
                                    @if (User.IsInRole("ClientEmployees"))
                                    {
                                        <label class="f-14 f-bold">Employee -  @ViewBag.EmployeeName  [@ViewBag.Employeeid]</label>
                                    }
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-md-3 " id="divcmp">
                                @*style="@(User.IsInRole("HrkAdministrators") || User.IsInRole("ClientManagers") || User.IsInRole("ClientAdministrators") ? "display:block" : "display:none" )"*@
                                <label>Company Codes</label>
                                @if (User.IsInRole("ClientEmployees"))
                                {
                                    @(Html.Kendo().DropDownListFor(model => model.CompanyCodeId)
                                                            .HtmlAttributes(new { id = "CompanyCodeIdDdl", @class = "form-control" })
                                                            .DataTextField("CompanyCodeDescription")
                                                            .DataValueField("CompanyCodeId")
                                                            .Filter(FilterType.Contains)
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Action("GetStudentCompanyCodes", "LookupTables").Type(HttpVerbs.Post);  //.Data("additionalData");
                                                                            })
                                                                        .ServerFiltering(true);
                                                            })
                                                            .Value(@Model.CompanyCodeId.ToString())
                                            //.OptionLabel("- select one -")
                                    )
                                }
                                else
                                {
                                    @(Html.Kendo().DropDownListFor(model => model.CompanyCodeId)
                                                            .HtmlAttributes(new { id = "CompanyCodeIdDdl", @class = "form-control" })
                                                            .DataTextField("CompanyCodeDescription")
                                                            .DataValueField("CompanyCodeId")
                                                            .Filter(FilterType.Contains)
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Action("GetCompanyCodes", "LookupTables").Type(HttpVerbs.Post);  //.Data("additionalData");
                                                                            })
                                                                        .ServerFiltering(true);
                                                            })
                                                            .Value(@Model.CompanyCodeId.ToString())
                                            //.OptionLabel("- select one -")
                                    )
                                }
                                @Html.ValidationMessageFor(model => model.CompanyCodeId)
                            </div>
                            <div class="col-md-3 " id="divdept">
                                @*style="@(User.IsInRole("HrkAdministrators") || User.IsInRole("ClientManagers") || User.IsInRole("ClientAdministrators") ? "display:block" : "display:none" )"*@
                                <label>Departments</label>
                                @if (User.IsInRole("ClientEmployees"))
                                {
                                    @(Html.Kendo().DropDownListFor(model => model.DepartmentId)
                                                                                    .HtmlAttributes(new { id = "DepartmentIdDdl", @class = "form-control" })
                                                                                    .DataTextField("CompCode_DeptCode_DeptDescription")
                                                                                    .DataValueField("DepartmentId")
                                                                                    .Filter(FilterType.Contains)
                                                                                    .DataSource(source =>
                                                                                    {
                                                                                        source.Read(read =>
                                                                                        {
                                                                                            read.Action("GetStudentDepartmentsList", "LookupTables").Data("filterDepartmentsByCompanyCode").Type(HttpVerbs.Post); //.Data("additionalData");

                                                                                                    })
                                                                                                .ServerFiltering(true);
                                                                                    })
                                                                                    .AutoBind(true)
                                                                                    .CascadeFrom("CompanyCodeIdDdl")
                                                                                    .Value(@Model.DepartmentId.ToString())
                                                                                    .OptionLabel("- select one -")
                                    )
                                }
                                else
                                {
                                    @(Html.Kendo().DropDownListFor(model => model.DepartmentId)
                                                                                   .HtmlAttributes(new { id = "DepartmentIdDdl", @class = "form-control" })
                                                                                   .DataTextField("CompCode_DeptCode_DeptDescription")
                                                                                   .DataValueField("DepartmentId")
                                                                                   .Filter(FilterType.Contains)
                                                                                   .DataSource(source =>
                                                                                   {
                                                                                       source.Read(read =>
                                                                                       {
                                                                                           read.Action("GetDepartmentsList", "LookupTables").Data("filterDepartmentsByCompanyCode").Type(HttpVerbs.Post); //.Data("additionalData");

                                                                                                   })
                                                                                               .ServerFiltering(true);
                                                                                   })
                                                                                   .AutoBind(true)
                                                                                   .CascadeFrom("CompanyCodeIdDdl")
                                                                                   .Value(@Model.DepartmentId.ToString())
                                                                                   .OptionLabel("- select one -")
                                    )
                                }
                                @Html.ValidationMessageFor(model => model.DepartmentId)
                            </div>
                            <div class="col-md-3 " id="divemp">
                                @*style="@(User.IsInRole("HrkAdministrators") || User.IsInRole("ClientManagers") || User.IsInRole("ClientAdministrators") ? "display:block" : "display:none" )"*@
                                <label>Employees</label><div class="checkbox-color checkbox-primary d-inline-block f-right m-r-3"><input type="checkbox" name="IsActive" id="IsActive"><label for="IsActive">IsActive</label></div>
                                @(Html.Kendo().DropDownListFor(model => model.EmployeeId)
                                                                    .HtmlAttributes(new { id = "EmployeeIdDdl", @class = "form-control" })
                                                                    .DataTextField("EmployeeFullName")
                                                                    .DataValueField("EmployeeId")
                                                                    .Filter(FilterType.Contains)
                                                                    .DataSource(source =>
                                                                    {
                                                                        source.Custom()
                                                                                .Transport(transport => transport
                                                                                .Read(read =>
                                                                                {
                                                                                    read.Action("GetEmployeesList", "LookupTables").Data("filterEmployeesByDepartment").Type(HttpVerbs.Post); //.Data("additionalData");
                                                                                            }))
                                                                                .ServerFiltering(true);
                                                                    })
                                                                    .AutoBind(true)
                                                                    .CascadeFrom("DepartmentIdDdl")
                                                                    .Value(@Model.EmployeeId.ToString())
                                                                    //.OptionLabel("- select one -")
                                                                    .Events(e => e.Change("OnChangeEmployee"))
                                )
                                @Html.ValidationMessageFor(model => model.EmployeeId)
                            </div>
                            <div class="col-md-3">
                                <label>Pay Period</label>
                                @(Html.Kendo().DropDownListFor(model => model.PayPeriodId)
                                                                            .HtmlAttributes(new { id = "PayPeriodIdDdl", @class = "form-control" })
                                                                            .DataTextField("PayPeriod")
                                                                            .DataValueField("PayPeriodId")
                                                                            .Filter(FilterType.Contains)
                                                                            .DataSource(source =>
                                                                            {
                                                                                source.Read(read =>
                                                                                {
                                                                                    read.Action("GetPayPeriodsList", "LookupTables").Data("filterPayperiodByPayfrequency");//.Type(HttpVerbs.Post);

                                                                                })
                                                                                    .ServerFiltering(true);
                                                                            })
                                                                            .AutoBind(true)
                                                                            .CascadeFrom("EmployeeIdDdl")
                                                                            .Value(@Model.PayPeriodId.ToString())
                                                                            //.OptionLabel("- select one
                                                                            // .Events(e => e.Change("OnChange"))
                                                                            .Events(e => e.Change("GetPayPeriodLockoutStatus"))
                                )
                                @Html.ValidationMessageFor(model => model.PayPeriodId)
                            </div>
                            @*STUDENT LOGIN: #2915: COMMENTED TO ADJUST DROPDOWNS FOR STUDENT LOGINS. PAYPERIODDROPDOWN TAKEN ABOVE DIV*@
                            @*<div class="col-md-3">
                                <label>Pay Period</label>
                                @if (User.IsInRole("ClientEmployees"))
                                {
                                    @(Html.Kendo().DropDownListFor(model => model.PayPeriodId)
                                        .HtmlAttributes(new { id = "PayPeriodIdDdl", @class = "form-control" })
                                        .DataTextField("PayPeriod")
                                        .DataValueField("PayPeriodId")
                                        .Filter(FilterType.Contains)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetPayPeriodsList", "LookupTables").Data("filterByArchive");
                                            })
                                                .ServerFiltering(true);
                                        })
                                        .AutoBind(true)
                                        .Value(@Model.PayPeriodId.ToString())
                                        //.OptionLabel("- select one -")
                                        .Events(e => e.Change("GetPayPeriodLockoutStatus"))
                                    )
                                }
                                else
                                {
                                    @(Html.Kendo().DropDownListFor(model => model.PayPeriodId)
                                        .HtmlAttributes(new { id = "PayPeriodIdDdl", @class = "form-control" })
                                        .DataTextField("PayPeriod")
                                        .DataValueField("PayPeriodId")
                                        .Filter(FilterType.Contains)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetPayPeriodsList", "LookupTables").Data("filterPayperiodByPayfrequency").Type(HttpVerbs.Post);

                                            })
                                                .ServerFiltering(true);
                                        })
                                        .AutoBind(true)
                                        .CascadeFrom("EmployeeIdDdl")
                                        .Value(@Model.PayPeriodId.ToString())
                                        //.OptionLabel("- select one
                                        // .Events(e => e.Change("OnChange"))
                                        .Events(e => e.Change("GetPayPeriodLockoutStatus"))
                                    )
                                }
                                @Html.ValidationMessageFor(model => model.PayPeriodId)
                            </div>*@
                        </div>

                    </div>
                    <div class="col-md-4 m-b-10 p-0 text-right">
                        @if (Convert.ToBoolean(ViewData["ShowBack"]) == true)
                        {
                            <div class="col-md-4 p-t-27 float-none">
                                @if (User.IsInRole("HrkAdministrators") || User.IsInRole("ClientManagers") || User.IsInRole("ClientAdministrators"))
                                {
                                    <input type="button" class="btn btn-primary b-radius-2 text-tranform-normal f-12 p-5 p-lr-10" id="btnBack" value="Back" />
                                }
                            </div>
                        }
                        <div class="col-md-4 p-t-27 float-none">
                            @if (User.IsInRole("HrkAdministrators") || User.IsInRole("ClientManagers") || User.IsInRole("ClientAdministrators"))
                            {
                                @*@Html.CheckBoxFor(m => m.Approved) @*, new { @onclick = "ApprovePayPeriod()" }*@
                                @*<label style="vertical-align:middle;">Approved</label>*@
                                <input type="button" class="btn btn-primary b-radius-2 text-tranform-normal f-12 p-5 p-lr-10" id="btnIsApproved" value="Approve All" disabled="disabled" />
                            }
                            else
                            {
                                <input type="button" class="btn btn-primary b-radius-2 text-tranform-normal f-12 p-5 p-lr-10" id="btnIsApproved" value="Approve All" readonly="readonly" style="display:none" />
                                @*@Html.CheckBoxFor(m => m.Approved, new { @disabled = "disabled" })
                                    <label style="vertical-align:middle;color: #ccc;">Approve</label>*@
                            }
                        </div>
                        <div class="col-md-4  p-0 p-t-27 float-none">
                            @if (User.IsInRole("HrkAdministrators") || User.IsInRole("ClientManagers") || User.IsInRole("ClientAdministrators"))
                            {
                                <input type="button" class="btn btn-primary b-radius-2 text-tranform-normal f-12 p-5 p-lr-10" id="btnSendeMail" value="Send Email" disabled="disabled" />
                            }
                        </div>
                        <div class="col-md-4 p-t-27 float-none">
                            @if (User.IsInRole("HrkAdministrators") || User.IsInRole("ClientManagers") || User.IsInRole("ClientAdministrators"))
                            {
                                <input type="button" class="btn btn-primary b-radius-2 text-tranform-normal f-12 p-5 p-lr-10" id="btnSendSMS" value="Send SMS" disabled="disabled" />
                            }
                        </div>
                        <div class="col-md-12">
                            <label id="lblPayPeriodLocked" style="display:none; color:red"></label>
                        </div>
                    </div>
                </div>
                <div id="formDiv" class="panel-body">
                    <div class="col-lg-12 col-md-12 p-0">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="theme-grid theme-grid-new">
                                    @(Html.Kendo().Grid<ExecViewHrk.Models.TimeCardVm>()
.Name("GridTimeCard")
.Resizable(resize => resize.Columns(true))
.Editable(editable =>
{
if (Model.IsArchived == false) { editable.Mode(GridEditMode.InCell); }
})
.ToolBar(toolbar =>
{
if (Model.IsArchived == false)
{
toolbar.Create();
toolbar.Save();
}
})
.Columns(columns =>
{
columns.Command(command => command.Custom("gridDeleteCommand").Text("<i class='fa fa-trash-o m-0 txt-danger f-18 btnDelete'></i>").Click("deleteTimecardsRow")).Width(30).HtmlAttributes(new { id = "btnDelete" });//.Locked(true);
                                    columns.Bound(c => c.Falsacode).Hidden();
columns.Bound(c => c.TimeCardId).Title("TimeCardId").Width(100).Hidden();
columns.Bound(c => c.Day).Format("{0:ddd}").Title("Day")
                                                .ClientGroupHeaderTemplate("Day: #= kendo.toString(value,'D') #").Width(40);//.Locked(true);
                                    columns.Bound(c => c.ActualDate).Format("{0:MM-dd-yyyy}").EditorTemplateName("TimeCardDatePicker").Title("Date").Width(75)
.ClientGroupHeaderTemplate("Date: #= kendo.toString(value,'D') #");//.Locked(true);
                                    columns.Bound(c => c.TimeIn).Title("Time In").Format("{0: hh:mm tt}").Width(70);
columns.Bound(c => c.LunchOut).Title("Lunch Out").Format("{0: hh:mm tt}").Width(70);
columns.Bound(c => c.LunchBack).Format("{0: hh:mm tt}").Title("Lunch Back").Width(70);
columns.Bound(c => c.TimeOut).Format("{0: hh:mm tt}").Title("Time Out").Width(70);
columns.Bound(c => c.DailyHours).Width(75)
                                                .ClientFooterTemplate("Total: #=sum#")
                                                .ClientGroupFooterTemplate("D-Hours: #=sum#");
columns.ForeignKey(c => c.HoursCodeId, (System.Collections.IEnumerable)ViewData["hourCodesList"], "HoursCodeId", "HoursCodeCode")
                                                .EditorTemplateName("HoursCodeEditor")
                                                .Title("Hour Code").Width(115);
columns.Bound(c => c.Hours).HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal" }).Width(80).Title("Coded Hours");
columns.ForeignKey(c => c.PositionId, (System.Collections.IEnumerable)ViewData["employeePositionsList"], "PositionId", "PositionCode").Width(215)
                                                .EditorTemplateName("EmployeePositionsEditor")
                                                .Title("Position").HtmlAttributes(new { id = "ddlPosition" });
columns.ForeignKey(c => c.EarningsCodeId, (System.Collections.IEnumerable)ViewData["earningCodesList"], "EarningsCodeId", "EarningsCodeCode").Width(100)
                                                .EditorTemplateName("EarningCodeEditor")
                                                .Title("Earning Code");
columns.Bound(c => c.EarningsAmount).HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal" }).Width(115)
                                                .ClientFooterTemplate("Amount: #=sum#")
                                                .ClientGroupFooterTemplate("Amount: #=sum#");
columns.ForeignKey(c => c.TempDeptId, (System.Collections.IEnumerable)ViewData["tempDepartmentCodesList"], "TempDeptId", "TempDeptCode")
                                                .EditorTemplateName("DepartmentEditor")
                                                .Title("Temp Dept").Width(75);
columns.ForeignKey(c => c.TempJobId, (System.Collections.IEnumerable)ViewData["tempJobCodesList"], "TempJobId", "TempJobCode")
                                                .EditorTemplateName("JobEditor")
                                                .Title("Temp Job Code").Width(75);
columns.Bound(c => c.DailyHours).Hidden();
columns.Bound(c => c.LineTotal).Title("Total").Width(40);
columns.Bound(p => p.NotesId).ClientTemplate("<input type='button' class='k-button min-width-auto' onclick=\"getNotes('#=TimeCardId#')\" />").Title("Notes").Width(50);
columns.Bound(c => c.UserId).Title("User Id").Width(200);
columns.Bound(c => c.ShowLineApprovedActive).Width(50).Hidden();
columns.Bound(c => c.IsLineApproved).Width(50).Hidden();
columns.Bound(c => c.IsApproved).Sortable(false).ClientTemplate("#=setTimeCardApprovedCheckBox() #").Title("Appr.").Width(50);
})
.Scrollable(scrollable => scrollable.Height("Auto"))
// .ClientDetailTemplateId('#=isChild' ? "template" : "")
.ClientDetailTemplateId("template")   //Subgrid
.Reorderable(reorderable => reorderable.Columns(true))
.Resizable(resizable => resizable.Columns(true))
.Selectable()
.Pageable(pageable => pageable
.Refresh(false)
//.PageSizes(new int[] { 7, 14, 21, 28, 31 })
//.ButtonCount(7)
.PreviousNext(true)
)
.Sortable()
.Events(e => e.Edit("onGridEdit").DataBound("gridDataBound"))
.DataSource(dataSource => dataSource
.Ajax()
.Batch(true)
//.Events(e => e.RequestEnd("OnCreateUpdate"))
.Aggregates(aggregates =>
{
aggregates.Add(p => p.DailyHours).Sum();
aggregates.Add(p => p.Hours).Sum();
aggregates.Add(p => p.EarningsAmount).Sum();
aggregates.Add(p => p.LineTotal).Sum();
})
//.Group(groups => groups.Add(p => p.WeekNum))
.Read(read => read.Action("WeeksList_Read", "TimeCardMatrix").Data("filterTimeCardRecords").Type(HttpVerbs.Post))
.Create(create => create.Action("WeeksList_Create", "TimeCardMatrix").Data("filterTimeCardRecords").Type(HttpVerbs.Post))
.Update(update => update.Action("WeeksList_Update", "TimeCardMatrix").Data("filterTimeCardRecords").Type(HttpVerbs.Post))
//.Destroy(destroy => destroy.Action("WeeksList_Destroy", "TimeCardMatrix"))
.Model(model =>
{
model.Id(p => p.TimeCardId);
model.Field(p => p.UserId).Editable(false);
model.Field(p => p.NotesId).Editable(false);
model.Field(p => p.LineTotal).Editable(false);
model.Field(p => p.LastModifiedDate).Editable(false);
model.Field(p => p.Day).Editable(false);
model.Field(p => p.ActualDate).Editable(false);
                                    //  if (User.IsInRole("ClientEmployees"))
                                    //  {
                                    model.Field(p => p.IsApproved).Editable(false);
                                    //}
                                })
.Events(events =>
{
events.Error("refreshGrid");
events.RequestEnd("timegridRequestEnd");
events.RequestStart("TimeGridRequestStart");
})
))
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <div class="col-md-6 m-t-10">
                                <div class="theme-grid theme-grid-new">
                                    @(Html.Kendo().Grid<ExecViewHrk.WebUI.Models.TimeCardWeekTotal>()
                                        .Name("GridDisplayWeeklyTimeCardTotal")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.WeekNum).Title("Week").Width(100)
                                            .ClientFooterTemplate("Total");
                                            columns.Bound(c => c.RegularHours).Title("Regular").Width(100)
                                            //.ClientFooterTemplate("#=sum#");
                                            .ClientFooterTemplate("#=kendo.toString(sum,'0.00')#");
                                            columns.Bound(c => c.OverTime).Title("Over Time").Width(100)
                                            //.ClientFooterTemplate("#=sum#");
                                            .ClientFooterTemplate("#=kendo.toString(sum,'0.00')#");
                                            columns.Bound(c => c.CodedHours).Title("Coded").Width(100)
                                            //.ClientFooterTemplate("#=sum#");
                                            .ClientFooterTemplate("#=kendo.toString(sum,'0.00')#");
                                            columns.Bound(c => c.WeeklyTotal).Title("Total").Width(100)
                                            //.ClientFooterTemplate("#=sum#");
                                            .ClientFooterTemplate("#=kendo.toString(sum,'0.00')#");
                                        })

                                        .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Read(read => read.Action("WeeksTotalList_Read", "TimeCardMatrix").Data("filterTimeCardRecords").Type(HttpVerbs.Post))
                                            .Aggregates(aggregates =>
                                            {
                                                aggregates.Add(p => p.RegularHours).Sum();
                                                aggregates.Add(p => p.OverTime).Sum();
                                                aggregates.Add(p => p.CodedHours).Sum();
                                                aggregates.Add(p => p.WeeklyTotal).Sum();
                                            })
                                        .Model(model =>
                                        {
                                            model.Id(p => p.WeekNum);
                                        })
                                        )
                                    )
                                </div>
                            </div>
                            <div class="col-md-6 m-t-10">
                                <div class="theme-grid theme-grid-new">
                                    @(Html.Kendo().Grid<ExecViewHrk.Models.TimeoffSummaryVM>()
                                        .Name("GridTimeoffSummary")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.Position).Width(150);
                                                            //columns.Bound(c => c.Typecode).Title("Type Code").Width(100);
                                                            columns.Bound(c => c.Allowed).Title("Limit").Width(50);
                                            columns.Bound(c => c.Taken).Title("Used").Width(50);
                                            columns.Bound(c => c.Remainder).Title("Balance").Width(50);
                                        })
                                        .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Read(read => read.Action("GetTimeoffSummary_Read", "TimeCardMatrix").Data("filterEmployeeProjects").Type(HttpVerbs.Post))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.EmployeeId);
                                        })
                                        )
                                    )
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin-top:20px">
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hdnMaxhours" value="@ViewBag.MaxHours" />


            </div>
        </div>
    }
    @if (User.IsInRole("ClientEmployees"))
    {
        <input type="hidden" id="hdnRole" value="ClientEmployees" />
    }
    @if (User.IsInRole("HrkAdministrators") || User.IsInRole("ClientManagers") || User.IsInRole("ClientAdministrators"))
    {
        <input type="hidden" id="hdnSupervisorandAdmin" value="SupervisorAdmin" />
    }

    <input type="hidden" id="hdnfalsa" value="@ViewBag.falsacode" />
    <input type="hidden" id="hdnApprovalStatus" value="Disapprove" />
    <input type="hidden" id="hdnIsStudent" value="false" />
    <input type="hidden" id="hdnUserRole" value="@User.Identity.GetLoggedInUserRoleName()" />
    <input type="hidden" id="hdnIsTimeCardChanged" value="false" /> @*Tracks changes*@
    <input type="hidden" id="hdnPayPeriodLock" value="false" />
    <input type="hidden" id="hdnWeekOneApprovedHours" value="0" />
    <input type="hidden" id="hdnWeekTwoApprovedHours" value="0" />
    <input type="hidden" id="hdnWeekOneUnApprovedHours" value="0" />
    <input type="hidden" id="hdnWeekTwoUnApprovedHours" value="0" />
    <input type="hidden" id="hdnSessionLimitExceeded" value="false" />
    <input type="hidden" id="hdnisvalid" value="@Session["Isvalid"]" />
    @*Send Email PopUp*@
    <form id="frmEmpSendEmail">
        <div class="modal fade" tabindex="-1" id="eMailModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">Send Email</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputUserName">Email Id: </label>
                            @Html.TextBox("txtEmail", null, new { @readonly = "readonly" })
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Message</label>
                            @Html.TextArea("txtMessage", null, 3, 50, new { @id = "txtMessage" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" value="Submit" onclick=sendEmailtoEmp() class="btn btn-primary" />
                        <button type="button" id="btnHideModal" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @*Send SMS PopUp*@
    <form id="frmEmpSendSMS">
        <div class="modal fade" tabindex="-1" id="SMSModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">Send SMS</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputNumber">Mobile Number: </label>
                            @Html.TextBox("txtNumber", null, new
                            {@*@readonly = "readonly"*@ @*type = "number", maxlength = "10"*@})
                        </div>
                        <div class="form-group">
                            <label for="inputGateway">Domain: </label>
                            @Html.TextBox("txtGateway", null, new
                            {@*@readonly = "readonly"*@})
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Message</label>
                            @Html.TextArea("txtSMS", null, 3, 50, new { @id = "txtSMS" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" value="Submit" onclick=sendSMStoEmp() class="btn btn-primary" />
                        <button type="button" id="btnHideModal" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @*Timecard Notes PopUp*@
    <div class="modal fade" tabindex="-1" id="timecardNotesModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">Timecard Notes</h4>
                </div>
                <div class="modal-body" id="timecardnoteBody">
                </div>
                <div class="modal-footer">
                    @if (!User.IsInRole("ClientEmployees"))
                    {
                        <input type="button" value="Submit" id="btnSubmit" class="btn btn-primary" />
                    }
                    <button type="button" id="btnHideModal" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*TimeCard Grid - Track Changes*@
<script>
    $('#GridTimeCard').data().kendoGrid.dataSource.bind('change', function (e) {
        //debugger;
        //the event argument here will indicate what action just happned
        //alert(e.action)// could be => "itemchange","add" or "remove" if you made any changes to the items
        //alert(e.action)
        if (e.action != undefined) {
            for (i = 0; i < e.items.length; i++) {
                //debugger;
                if (e.items[i].dirty == true) {
                    //toastr.error('Changes found in the TimeCard. Please save the changes to the TimeCard');
                    $("#hdnIsTimeCardChanged").val("true");
                }
                else {
                    $("#hdnIsTimeCardChanged").val("false");
                }
            }
        }
    })

    $(document).on('click', ".k-grid-cancel-changes", function () {
        $("#hdnIsTimeCardChanged").val("false");
        var grid = $(this).closest("[data-role='grid']")[0].id;
        $("#" + grid).data('kendoGrid').refresh();
    });
    $(document).on('click', ".k-grid-save-changes", function () {
        var session = '@Session["Isvalid"]';
        if (session == "True") {            
            toastr.error("Please review Student's Position record. Either Position is not started or Position is ended or Rate Effective is not active for entered time record.");
            session = false
            return false;
        }
    });
</script>

<script>
    //Makes the Time Card ReadOnly on Employee Login.
    var role = $("#hdnRole").val();
    var isstudent = '@ViewBag.IsStudent';
    $("#hdnIsStudent").val(isstudent);

    $(document).ready(function () {
        ////Track Changes
        //$(':input').each(function () {
        //    //debugger;
        //    if ($(this).data('initialValue') != $(this).val()) {
        //        //isDirty = true;
        //        $("#hdnIsTimeCardChanged").val("true");
        //    }
        //});
        $('#IsActive').change(function () {
            $("#EmployeeIdDdl").data("kendoDropDownList").dataSource.read();
        });
        setTimeout(function () {
            OnChange("mainGrid");
        }, 500);

        $(document).on('change', ".chkbx", function (e) {
            
            var checked = $(this).is(':checked');

            var grid = $('#GridTimeCard').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'))
            if (dataItem.TimeOut == null && dataItem.Hours == null) {
                toastr.error("Please enter Time Out before approving");
                dataItem.set('Approved', false);
                dataItem.dirty = true;
                return false;
            }
            else if (dataItem.TimeOut != null && dataItem.TimeIn == null && dataItem.Hours == null)
            {
                toastr.error("Please enter Time In before approving");
                dataItem.set('Approved', false);
                dataItem.dirty = true;
                return false;
            }
            else {
                dataItem.set('IsLineApproved', checked);
                dataItem.dirty = true;
            }

            //Add and Substract Hours for Weekly Session Validation
            var timecardgrid = $("#GridTimeCard").data("kendoGrid");
            var currentPage = timecardgrid.dataSource.page();

            var dailyhours = 0;
            var timeout = 0;
            var timein = 0;
            var lunchback = 0;
            var lunchout = 0;
            var codedhours = 0;
            var addedhours = 0;
            var deletedhours = 0;
            timeout = dataItem.TimeOut;
            timein = dataItem.TimeIn;
            dailyhours = timeDiffCal(timein, timeout);
            lunchback = dataItem.LunchBack;
            lunchout = dataItem.LunchOut;
            codedhours = dataItem.Hours;
            //Week One Approved and UnApproved Hours
            if (currentPage == 1 && checked == true) {
                addedhours = (dailyhours - timeDiffCal(lunchout, lunchback)) + codedhours;
                $("#hdnWeekOneApprovedHours").val(eval($("#hdnWeekOneApprovedHours").val()) + addedhours);
            }
            if (currentPage == 1 && checked == false) {
                addedhours = (dailyhours - timeDiffCal(lunchout, lunchback)) + codedhours;
                $("#hdnWeekOneUnApprovedHours").val(eval($("#hdnWeekOneUnApprovedHours").val()) + addedhours);
            }

            //Week Two Approved and UnApproved Hours
            if (currentPage == 2 && checked == true) {
                addedhours = (dailyhours - timeDiffCal(lunchout, lunchback)) + codedhours;
                $("#hdnWeekTwoApprovedHours").val(eval($("#hdnWeekTwoApprovedHours").val()) + addedhours);
            }
            if (currentPage == 2 && checked == false) {
                addedhours = (dailyhours - timeDiffCal(lunchout, lunchback)) + codedhours;
                $("#hdnWeekTwoUnApprovedHours").val(eval($("#hdnWeekTwoUnApprovedHours").val()) + addedhours);
            }
        });
    });


    //Sets Page Size default to 7
    var grid = $("#GridTimeCard").data("kendoGrid");
    grid.dataSource.pageSize(7);
    grid.refresh();

    var grid = $("#GridTimeCard").data("kendoGrid");
    var projectsgrid = $("#GridProjectsassignedEmployee").data("kendoGrid");
    /**/
    var displayColumns = @Html.Raw(Json.Encode(Model.timeCardDislayColumns));
    /**/
    if (displayColumns.Day == false) { grid.hideColumn("Day"); }
    if (displayColumns.ActualDate == false) { grid.hideColumn("ActualDate"); }
    if (displayColumns.TimeIn == false) { grid.hideColumn("TimeIn"); }
    if (displayColumns.Projects == false) { grid.hideColumn("ProjectsId"); grid.hideColumn("FundsId"); }
    if (displayColumns.LunchOut == false) { grid.hideColumn("LunchOut"); }
    if (displayColumns.LunchBack == false) { grid.hideColumn("LunchBack"); }
    if (displayColumns.TimeOut == false) { grid.hideColumn("TimeOut"); }
    if (displayColumns.HoursCodeId == false) { grid.hideColumn("HoursCodeId"); }
    if (displayColumns.Hours == false) { grid.hideColumn("Hours"); }
    if (displayColumns.EarningsCodeId == false) { grid.hideColumn("EarningsCodeId"); }
    if (displayColumns.EarningsAmount == false) { grid.hideColumn("EarningsAmount"); }
    if (displayColumns.TempDeptId == false) { grid.hideColumn("TempDeptId"); }
    if (displayColumns.TempJobId == false) { grid.hideColumn("TempJobId"); }
    if (displayColumns.IsApproved == false) { grid.hideColumn("IsLineApproved"); }
    if (displayColumns.DailyHours == false) { grid.hideColumn("DailyHours"); }
    if (displayColumns.Projects == false) { projectsgrid.hideColumn("ProjectID"); }
    if (displayColumns.ProjectPercentages == false) { projectsgrid.hideColumn("Percentage"); }
</script>

<style>
    .theme-grid-new .k-detail-cell {
        padding-left: 112px !important;
    }

    .k-grid {
        font-size: 11px;
    }

        .k-grid td {
            line-height: 2em;
        }
    /**************** Kendo buttons********************/
    .k-button {
        color: #fff;
        border-color: #1a3a59;
        background-color: #1a3a59;
    }


    /**************** Kendo buttons********************/
    .k-button {
        color: #fff;
        border-color: #1a3a59;
        background-color: #1a3a59;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
    }

        .k-button:hover {
            background-color: #252723;
            border-color: #252723;
            color: #fff;
        }

        .k-button:focus {
            background-color: #6e6f66;
            border-color: #6e6f66;
            color: #fff;
        }

    /*.k-button.k-button-icontext .k-icon, .k-button.k-button-icontext .k-image {
            background-image: url('assets/images/sprite-white.png');
            opacity: 1;
        }*/

    /*.theme-grid-new #ActualDate {
        width: 100% !important;
    }

    .theme-grid-new .k-picker-wrap {
        width: 37px !important;
    }*/

    #ActualDate {
        width: 115px !important;
    }

    .k-picker-wrap {
        width: 85px !important;
    }

    #LunchBack .k-icon .k-i-calendar {
        display: none !important;
    }

    .form-control {
        width: 100% !important;
    }

    .k-grid .k-button {
        text-transform: capitalize;
    }

    #btnIsApproved {
        text-transform: capitalize;
    }
</style>

<script type="text/javascript">
    //$(function () {
    //    $('#GridTimeCard').on('click', '.chkbx', function () {
    //        var checked = $(this).is(':checked');
    //        var grid = $('#GridTimeCard').data().kendoGrid;
    //        var dataItem = grid.dataItem($(this).closest('tr'));
    //        dataItem.set('IsLineApproved', checked);
    //    });
    //});

    $(document).on('click', ".subNotes", function (e) {
        var grid = $(this).closest("[data-role='grid']")[0].id;
        var gridId = "#" + grid;
        var grid1 = $(gridId).data().kendoGrid;
        var dataItem = grid1.dataItem($(this).closest('tr'));
        getNotes(dataItem.TimeCardId);
    });


    $(document).on('click', ".childCheckBox", function (e) {
        
        var checked = $(this).is(':checked');
        var grid = $(this).closest("[data-role='grid']")[0].id;
        var gridId = "#" + grid;
        var grid1 = $(gridId).data().kendoGrid;
        var dataItem = grid1.dataItem($(this).closest('tr'));
        if (dataItem.TimeOut == null && dataItem.Hours == null) {
            toastr.error("Please enter Time Out before approving");
            dataItem.set('Approved', false);
            dataItem.dirty = true;
            return false;
        }
        if (dataItem.TimeOut != null && dataItem.TimeIn == null && dataItem.Hours == null) {
            toastr.error("Please enter Time In before approving");
            dataItem.set('Approved', false);
            dataItem.dirty = true;
            return false;
        }
        else {
            dataItem.set('IsLineApproved', checked);
            dataItem.dirty = true;
        }

        //Add and Substract Hours for Weekly Session Validation
        var timecardgrid = $("#GridTimeCard").data("kendoGrid");
        var currentPage = timecardgrid.dataSource.page();
        var dailyhours = 0;
        var timeout = 0;
        var timein = 0;
        var lunchback = 0;
        var lunchout = 0;
        var codedhours = 0;
        var addedhours = 0;
        var deletedhours = 0;
        timeout = dataItem.TimeOut;
        timein = dataItem.TimeIn;
        dailyhours = timeDiffCal(timein, timeout);
        lunchback = dataItem.LunchBack;
        lunchout = dataItem.LunchOut;
        codedhours = dataItem.Hours;
        //Week One Approved and UnApproved Hours
        if (currentPage == 1 && checked == true) {
            addedhours = (dailyhours - timeDiffCal(lunchout, lunchback)) + codedhours;
            $("#hdnWeekOneApprovedHours").val(eval($("#hdnWeekOneApprovedHours").val()) + addedhours);
        }
        if (currentPage == 1 && checked == false) {
            addedhours = (dailyhours - timeDiffCal(lunchout, lunchback)) + codedhours;
            $("#hdnWeekOneUnApprovedHours").val(eval($("#hdnWeekOneUnApprovedHours").val()) + addedhours);
        }

        //Week Two Approved and UnApproved Hours
        if (currentPage == 2 && checked == true) {
            addedhours = (dailyhours - timeDiffCal(lunchout, lunchback)) + codedhours;
            $("#hdnWeekTwoApprovedHours").val(eval($("#hdnWeekTwoApprovedHours").val()) + addedhours);
        }
        if (currentPage == 2 && checked == false) {
            addedhours = (dailyhours - timeDiffCal(lunchout, lunchback)) + codedhours;
            $("#hdnWeekTwoUnApprovedHours").val(eval($("#hdnWeekTwoUnApprovedHours").val()) + addedhours);
        }
    });

    $('#GridTimeCard').on('click', '.k-button k-button-icontext k-grid-save-changes', function (e) {
        var grid = $('#GridTimeCard').data().kendoGrid;
        var totalNumber = grid.length;
        /**/
        var displayColumns = @Html.Raw(Json.Encode(Model.timeCardDislayColumns));
        /**/
        for (var i = 0; i < totalNumber; i++) {
            var currentDataItem = grid[i];
            if (displayColumns.TimeIn == true && displayColumns.TimeOut == true) {
                if (currentDataItem.TimeIn >= currentDataItem.TimeOut) {
                    toastr.error("Time Out Must Be Greater than Time In");
                    return false;
                }
            }
            if (displayColumns.LunchOut == true && displayColumns.LunchBack == true) {
                if (currentDataItem.LunchOut >= currentDataItem.LunchBack) {
                    toastr.error("Lunch Back Must Be Greater than Lunch Out");
                    return false;
                }
            }
        }
    });

    //All Approval with Prompt
    /*
    $("#btnIsApproved").click(function (e) {
        //debugger;
        var isDirty = $("#hdnIsTimeCardChanged").val();
        if (isDirty == "true") {
            // return msg;
            toastr.error('Changes found in the TimeCard. Please save the changes to the TimeCard');
            e.stopPropagation();
            return false;
        }
        if ($(this).prop("value") == "Approve All") {
            var data = filterTimeCardRecords();
            var maxhours = $("#hdnMaxhours").val();
            //Session Time is per week. Hence it should multiply with 2 for Bi-Weekly Pay Period.
            maxhours = maxhours * 2;
            var appBaseUrl = $("#appBaseUrl").val();
            $.ajax({
                url: appBaseUrl + "TimeCardMatrix/GetSumofTimeCardsList",
                type: "GET",
                data: {
                    employeeIdDdl: data.employeeIdDdl,
                    payPeriodId: data.payPeriodId,
                    IsArchived: data.IsArchived,
                    maxhours: maxhours
                },
                success: function (d) {
                    //debugger;
                    if (d == true) {
                        //var result = confirm('Hours exceeded ' + maxhours + ', Do you want to Approve.!');
                        //if (result == false) {
                        //    e.preventDefault();
                        //    e.stopPropagation();
                        //    return false;
                        //}
                        //else {
                        //    confirmApprove();
                        //}
                        toastr.error("Hours exceeded with maximum of " + maxhours + " session time!");
                        e.preventDefault();
                        e.stopPropagation();
                        return false;
                    }
                    else {
                        confirmApprove();
                    }
                }
            });
        }
        else {
            confirmApprove();
        }
    });
    */

    //All Approval Week wise 20 and for all weeks 40
    /*
    $("#btnIsApproved").click(function (e) {
        //debugger;
        var payperiodweekonetotal = 0;
        var payperiodweektwototal = 0;
        var isDirty = $("#hdnIsTimeCardChanged").val();
        if (isDirty == "true") {
            // return msg;
            toastr.error('Changes found in the TimeCard. Please save the changes to the TimeCard');
            e.stopPropagation();
            return false;
        }
        if ($(this).prop("value") == "Approve All") {
            var data = filterTimeCardRecords();
            var maxhours = $("#hdnMaxhours").val();
            //Session Time is per week. Hence it should multiply with 2 for Bi-Weekly Pay Period.
            maxhours = maxhours;
            var appBaseUrl = $("#appBaseUrl").val();
            $.ajax({
                url: appBaseUrl + "TimeCardMatrix/GetSumofWeekWiseTotal",
                type: "GET",
                data: {
                    employeeIdDdl: data.employeeIdDdl,
                    payPeriodId: data.payPeriodId,
                    IsArchived: data.IsArchived,
                    maxhours: maxhours
                },
                success: function (weeklytotal) {
                    payperiodweekonetotal = weeklytotal.weekOneTotalHours;
                    payperiodweektwototal = weeklytotal.weekTwoTotalHours;
                    if (payperiodweekonetotal > maxhours) {
                        toastr.error('Hours exceeded with session limit per week. Session Limit is:  ' + maxhours + ' Hours.');
                        e.preventDefault();
                        e.stopPropagation();
                        return false;
                    }
                    else if (payperiodweektwototal > maxhours) {
                        toastr.error('Hours exceeded with session limit per week. Session Limit is:  ' + maxhours + ' Hours.');
                        e.preventDefault();
                        e.stopPropagation();
                        return false;
                    }
                    else if ((payperiodweekonetotal + payperiodweektwototal) > (maxhours * 2)) {
                        toastr.error('Hours exceeded with session limit. Session Limit is:  ' + (maxhours * 2) + ' Hours.');
                        e.preventDefault();
                        e.stopPropagation();
                        return false;
                    }
                    else {
                        confirmApprove();
                    }
                }
            });
        }
        else {
            confirmApprove();
        }
    });
    */

    //Approves TimeCard for the Emplyee and Pay Period regardless of Weekly Session Time if user click NO in ...
    //confirmation "Hours exceeded with Session Limit per week ' + maxhours + '. Do you want to Approve?" during Approvals
    function confirmApprove() {
        
        $.validator.unobtrusive.parse("#TimeCardFormDdl");
        var appBaseUrl = $("#appBaseUrl").val();

        var form = $("#TimeCardFormDdl");
        var serialized_Object = form.serializeObject();
        var grid = $("#GridTimeCard").data("kendoGrid");
        for (var i = 0; i < grid.dataSource._data.length; i++) {
            if (grid.dataSource._data[i].TimeIn != null && grid.dataSource._data[i].TimeOut == null) {
                toastr.error("Please enter the Time Out before approving.");
                return false;
            }

            if (grid.dataSource._data[i].TimeOut != null && grid.dataSource._data[i].TimeIn == null) {
                toastr.error("Please enter the Time In before approving.");
                return false;
            }
        }
        //if ($("#btnIsApproved").is(":checked")) {
        //    serialized_Object.Approved = true;
        //}
        if ($("#btnIsApproved").prop("value") == "Approve All") {
            serialized_Object.Approved = true;
        }
        else {
            serialized_Object.Approved = false;
        }
        $.ajax({
            url: appBaseUrl + "LookupTables/TimeCard_Approved_Ajax",
            type: "POST",
            data: {
                timeCardVm: serialized_Object,
            },
            success: function (response) {
                if (response = true) {
                    // if ($("#btnIsApproved").prop("value") == "Approve") {
                    if ($("#btnIsApproved").val() == "Approve All") {
                        $("#btnIsApproved").prop('value', 'Disapprove');
                        $("#hdnApprovalStatus").prop('value', 'Disapprove');
                        //@Model.IsApproved=true;
                       // $("#btnIsApproved").val("Disapprove");
                        toastr.success("Pay period has been Approved");
                        $("#GridTimeCard").data("kendoGrid").dataSource.read();
                       // $("#hdnApprovalStatus").val("Disapprove");
                        setTimeCardReadOnly();
                    }
                    else {
                        $("#btnIsApproved").prop('value', 'Approve All');
                        $("#hdnApprovalStatus").prop('value', 'Approve');
                        //$("#btnIsApproved").val("Approve");
                        toastr.success("Pay period has been Disapproved");
                        $("#GridTimeCard").data("kendoGrid").dataSource.read();
                       // $("#hdnApprovalStatus").val("Approve");
                        setTimeCardEditable();
                    }
                    //$("#GridTimeCard").data("kendoGrid").dataSource.read();
                }
                else {
                    toastr.error("An Error occured while Approve/Disapprove Pay Period");
                }

                return;
            }
        });
    };

    //Approves TimeCard for the Employee and Pay Period based on Weekly Session Confirmation.
    $("#btnIsApproved").click(function (e) {
        var payperiodweekonetotal = 0;
        var payperiodweektwototal = 0;
        var isDirty = $("#hdnIsTimeCardChanged").val();
        if (isDirty == "true") {
            //return msg;
            toastr.error('Changes found in the TimeCard. Please save the changes to the TimeCard');
            e.stopPropagation();
            return false;
        }
        //Warning Message when Weekly Session Limit exceeds
        //else {
        //    confirmWeeklyApproval();
        //}
        //Prompt when Weekly Session Limit exceeds
        //debugger;
        if ($(this).prop("value") == "Approve All") {
            var maxhours = $("#hdnMaxhours").val();
            SessionValidation(maxhours);
            confirmWeeklyApproval();
        }
        else {
            confirmApprove();
        }
    });
    //Approves Timecard for the Emplyee and Pay Period based on the Weekly Session Limit based on confirmation.
    //If Yes Approves even if Weekly Session Limit exceesds.
    function confirmWeeklyApproval() {        
        $.validator.unobtrusive.parse("#TimeCardFormDdl");
        var appBaseUrl = $("#appBaseUrl").val();

        var form = $("#TimeCardFormDdl");
        var serialized_Object = form.serializeObject();
        var grid = $("#GridTimeCard").data("kendoGrid");     
        for (var i = 0; i < grid.dataSource._data.length; i++) {
            if (grid.dataSource._data[i].TimeIn != null && grid.dataSource._data[i].TimeOut == null) {
                toastr.error("Please enter the Time Out before approving.");
                return false;
            }

            if (grid.dataSource._data[i].TimeOut != null && grid.dataSource._data[i].TimeIn == null) {
                toastr.error("Please enter the Time In before approving.");
                return false;
            }
        }
        if ($("#btnIsApproved").prop("value") == "Approve All") {
            serialized_Object.Approved = true;
        }
        else {
            serialized_Object.Approved = false;
        }
        $.ajax({
            url: appBaseUrl + "LookupTables/TimeCardApproveAll",
            type: "POST",
            data: {
                timeCardVm: serialized_Object,
            },
            success: function (response) {
                if (response == true) {
                    if ($("#btnIsApproved").val() == "Approve All") {
                        $("#btnIsApproved").prop('value', 'Disapprove');
                        $("#hdnApprovalStatus").prop('value', 'Disapprove');
                        toastr.success("Pay period has been Approved");
                        $("#GridTimeCard").data("kendoGrid").dataSource.read();
                        setTimeCardReadOnly();
                    }
                    else {
                        $("#btnIsApproved").prop('value', 'Approve All');
                        $("#hdnApprovalStatus").prop('value', 'Approve');
                        toastr.success("Pay period has been Disapproved");
                        $("#GridTimeCard").data("kendoGrid").dataSource.read();
                        setTimeCardEditable();
                    }
                }
                else {                   
                    toastr.error("Please enter the Time Out before approving.");
                    return false;

                    //Warning Message when Weekly Session Limit exceeds
                    //toastr.error("Session Limit exceeded!");
                    //Prompt when Weekly Session Limit exceeds
                    //debugger;
                    //if ($("#btnIsApproved").val() == "Approve All") {
                    //    toastr.error("Pay Rate Effective Date is not active for an approved day. An administrative review of the student’s position record is needed.")
                    //    return false;
                    //}
                    //else {
                    //    var maxhours = $("#hdnMaxhours").val();
                    //    var result = confirm('Hours exceeded with Session Limit per week ' + maxhours + '. Do you want to Approve?');
                    //    if (result == false) {
                    //        $("#GridTimeCard").data("kendoGrid").dataSource.read();
                    //        $("#hdnWeekOneApprovedHours").val(0);
                    //        $("#hdnWeekOneUnApprovedHours").val(0);
                    //        e.preventDefault();
                    //        e.stopPropagation();
                    //        return false;
                    //    }
                    //    else {
                    //        confirmApprove();
                    //    }
                    //}
                }
                return;
            }
        });
    };

    //Send Email PopUp
    $("#btnSendeMail").click(function () {
        var appBaseUrl = $("#appBaseUrl").val();
        $.ajax({
            url: appBaseUrl + "TimeCardMatrix/GetEmployeeEmailId",
            type: "POST",
            data: {
                employeeIdDdl: $("#EmployeeIdDdl").val(),
            },
            success: function (response) {

                if (response != null) {
                    $("#txtEmail").val(response);
                    $("#eMailModal").modal('show');
                }
                else {
                    toastr.error("Emaild doesn't exist");
                }
            },
            error: function (data) {
                toastr.error("Emaild doesn't exist");
            }
        });

    });

    //Send SMS PopUp
    $("#btnSendSMS").click(function () {
        var appBaseUrl = $("#appBaseUrl").val();
        $.ajax({
            url: appBaseUrl + "TimeCardMatrix/GetEmployeeMobileNumber",
            type: "GET",
            data: {
                employeeIdDdl: $("#EmployeeIdDdl").val(),
            },
            success: function (data) {

                if (data != null) {
                    var number = data.PhoneNumber.replace(/[_\W]+/g, "");
                    $("#txtNumber").val(number);
                    $("#txtGateway").val(data.Gateway);
                    $("#SMSModal").modal('show');
                }
                else {
                    toastr.error("Mobile number doesn't exist");
                }
            },
            error: function (data) {
                toastr.error("Mobile number doesn't exist");
            }
        });

    });

    $('#GridTimeCard').on('change', '.k-input', function (e) {
        var objvalue = SetValidTime(this);
        $(this).val(objvalue);
    });

</script>

<script id="template" type="text/kendo-tmpl" class="theme-grid">

    @(Html.Kendo().Grid<ExecViewHrk.Models.TimeCardVm>()
                                                                                      .Name("grid_#=TimeCardId#")
                                                                                       .Editable(editable => editable.Mode(GridEditMode.InCell))
                                                                                        .Events(events => events.DataBound("gridSubDataBound"))
                                                                                       .ToolBar(toolbar =>
                                                                                       {
                                                                                           toolbar.Create().HtmlAttributes(new { @class = "btnNestedgrid" });
                                                                                           toolbar.Save();
                                                                                       })
                                                                                       //.Events(e=>e.SaveChanges("SaveChanges"))
                                                                                       .Events(e => e.Edit("onGridEdit"))
                                                                                       .Columns(columns =>
                                                                                       {
                                                                                           if (!User.IsInRole("ClientEmployees"))
                                                                                               columns.Command(command => command.Custom("gridDeleteCommands").Text("<i class='fa fa-trash-o m-0 txt-danger f-18 btnDelete'></i>").Click("deleteTimecardsRow")).Width(30);
                                                                                           columns.Bound(c => c.TimeCardId).Hidden();
                                                                                           columns.Bound(c => c.TimeIn).Title("Time In").Format("{0: hh:mm tt}").Width(70);
                                                                                           columns.Bound(c => c.LunchOut).Title("Lunch Out").Format("{0: hh:mm tt}").Width(70);
                                                                                           columns.Bound(c => c.LunchBack).Format("{0: hh:mm tt}").Title("Lunch Back").Width(70);
                                                                                           columns.Bound(c => c.TimeOut).Format("{0: hh:mm tt}").Title("Time Out").Width(70);
                                                                                           columns.ForeignKey(c => c.HoursCodeId, (System.Collections.IEnumerable)ViewData["hourCodesList"], "HoursCodeId", "HoursCodeCode")
                                                .EditorTemplateName("HoursCodeEditor")
                                                .Title("Hour Code").Width(115);
                                                                                           columns.Bound(c => c.Hours).HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal" }).Width(80).Title("Coded Hours");
                                                                                           columns.ForeignKey(c => c.PositionId, (System.Collections.IEnumerable)ViewData["employeePositionsList"], "PositionId", "PositionCode").Width(215).Sortable(false)
                                                                                                                                                                                                                                                .EditorTemplateName("EmployeePositionsEditor")
                                                                                                                                                                                                                                                .Title("Position");
                                                                                           columns.Bound(c => c.DailyHours).Title("Total").Width(40);
                                                                                           columns.Bound(p => p.NotesId).ClientTemplate("<input type='button' class='k-button min-width-auto subNotes' />").Title("Notes").Width(50);
                                                                                           columns.Bound(c => c.UserId).Title("User Id").Width(200);
                                                                                           columns.Bound(c => c.IsLineApproved).Hidden();
                                                                                           columns.Bound(c => c.IsApproved).Sortable(false)
                                                                                                .ClientTemplate
                                                                                                ("#=setsubGridApprovedCheckBox(IsLineApproved) #").Title("Appr.").Width(50);
                                                                                       })
                                                                                            .DataSource(dataSource => dataSource
                                                                                                .Ajax()
                                                                                                // .AutoSync(true)
                                                                                                .Batch(true)
                                                                                                .Model(model =>
                                                                                                {
                                                                                                    model.Id(p => p.TimeCardId);
                                                                                                    model.Field(p => p.NotesId).Editable(false);
                                                                                                    model.Field(p => p.ActualDate).Editable(false);
                                                                                                    model.Field(p => p.DailyHours).Editable(false);
                                                                                                    model.Field(p => p.UserId).Editable(false);
                                                                                                    model.Field(p => p.IsApproved).Editable(false);
                                                                                                })
                                                                                                //.Events(events => events.Sync("sync_handler"))
                                                                                                .Events(events =>
                                                                                                {
                                                                                                    events.Change("subGridChangefn");
                                                                                                    events.Error("refreshSubGrid");
                                                                                                    events.RequestEnd("subGridRequestEnd(\"grid_#=TimeCardId#\")");
                                                                                                    events.RequestStart("TimeGridRequestStartChild(\"grid_#=TimeCardId#\",\"#=TimeCardId#\")");
                                                                                                })
                                                                                                .PageSize(5)
                                                                                              .Read(read => read.Action("Grid_ReadChild", "TimeCardMatrix", new { ActualDate = "#=ActualDate#", timeCard = "#=TimeCardId#" }).Data("filterTimeCardRecords").Type(HttpVerbs.Post))
                                                                                              .Update(update => update.Action("Grid_UpdateChild", "TimeCardMatrix", new { ActualDate = "#=ActualDate#" }).Data("filterTimeCardRecords").Type(HttpVerbs.Post))
                                                                                              .Create(c => c.Action("Grid_CreateChild", "TimeCardMatrix", new { ActualDate = "#=ActualDate#" }).Data("filterTimeCardRecords").Type(HttpVerbs.Post))

                                                                                            )
                                                                                            .Pageable()
                                                                                            .Sortable()
                                                                                            .ToClientTemplate()
    )
</script>

<script>

    function subGridChangefn(e) {
        if (e.action != undefined) {
            for (i = 0; i < e.items.length; i++) {
                if (e.items[i].dirty == true) {
                    $("#hdnIsTimeCardChanged").val("true");
                    return;
                }
                else {
                    $("#hdnIsTimeCardChanged").val("false");
                }
            }
        }
    }

    function sync_handler(e) {
        //  this.read();
    }

    function gridSubDataBound(e) {
        var view = this.dataSource.view();
        for (var i = 0; i < view.length; i++) {
            if (view[i].IsLineApproved) {
                var currentUid = view[i].uid;
                this.tbody.find("tr[data-uid='" + currentUid + "']")
                    .addClass("k-state-selected")
                    .find(".childCheckBox")
                    .attr("checked", "checked");
            }
        }
        if ($("#hdnApprovalStatus").prop("value") == "Disapprove" || isstudent == "True") {
            var grid = this.wrapper.closest("[data-role=grid]")[0].id;//.data("kendoGrid")
            var gridId = "#" + grid;
            var grid1 = $(gridId).data("kendoGrid");
            grid1.hideColumn(0);
        }
    }

    function setsubGridApprovedCheckBox(isapproved) {
        var isstudent = $("#hdnIsStudent").val();
        if ($("#hdnApprovalStatus").prop("value") == "Disapprove" || isstudent == "True") {
            return "<input type ='checkbox' class='childCheckBox'  disabled ='disabled'/>"
        }
        else {
            return "<input type ='checkbox' class='childCheckBox' />"
        }
    }

    function subGridRequestEnd(gridName) {
        return function (e) {
            if (e.response.Data && e.response.Data.length) {
                var data = e.response.Data;
                if (this.group().length && e.type == "read") {
                    handleGroups(data);
                } else {
                    loopRecords(data);
                }
            }

            // var grid = $("#" + gridName).data("kendoGrid");
            if (e.type == "update") {
                if (!e.response.Errors) {
                    toastr.success('Record Updated successfully.');
                    // e.sender.read();
                    $("#GridTimeCard").data("kendoGrid").dataSource.read();
                    $("#GridDisplayWeeklyTimeCardTotal").data("kendoGrid").dataSource.read();

                    //Reset Approved and UnApproved Hours after Updation
                    $("#hdnWeekOneApprovedHours").val(0);
                    $("#hdnWeekOneUnApprovedHours").val(0);
                    $("#hdnWeekTwoApprovedHours").val(0);
                    $("#hdnWeekTwoUnApprovedHours").val(0);
                }
            }
            if (e.type == "create") {
                if (!e.response.Errors) {
                    toastr.success('Record Created successfully.');
                    //  e.sender.read();
                    // $("#" + gridName).data("kendoGrid").dataSource.read();
                    $("#GridTimeCard").data("kendoGrid").dataSource.read();
                    $("#GridDisplayWeeklyTimeCardTotal").data("kendoGrid").dataSource.read();
                }
            }
        }
    }

    function refreshSubGrid(e) {
        var ds = e.sender;
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br />";
                    });
                }
            });
            if ((_lookUpTablesObject.grid) && $('#LookupTablesDiv').hasClass("md-show")) {

            } else {
                if (ds.hasChanges()) {
                    //  ds.cancelChanges();
                }
                //  ds.read();
            }

            loading(false)
            toastr.error(message);
        }
    }

    function TimeGridRequestStartChild(gridName, timeCardId) {
        return function (e) {
            //add hide/show based on setup column
            var data = $("#" + gridName).data("kendoGrid");
             var displayColumns = @Html.Raw(Json.Encode(Model.timeCardDislayColumns));
            if (displayColumns.TimeIn == false) { data.hideColumn("TimeIn"); }
            if (displayColumns.LunchOut == false) { data.hideColumn("LunchOut"); }
            if (displayColumns.LunchBack == false) { data.hideColumn("LunchBack"); }
            if (displayColumns.TimeOut == false) { data.hideColumn("TimeOut"); }
            if (displayColumns.HoursCodeId == false) { data.hideColumn("HoursCodeId"); }
            if (displayColumns.Hours == false) { data.hideColumn("Hours"); }

            overlappinghours(e, gridName, timeCardId);
            var role = $("#hdnUserRole").val();
            if (role == "ClientManagers") {
                if ($("#hdnPayPeriodLock").val() == 'true') {
                    setTimeCardReadOnly();
                    $("#btnSendeMail").css("display", "none");
                    $("#btnSendSMS").css("display", "none");
                    $("#btnIsApproved").css("display", "none");
                    $("#hdnPayPeriodLock").val('true');

                }
                else {
                    OnChange("childGrid");
                }
            } else { OnChange("childGrid"); }

            if (e.type == "create") {
                if (role != "ClientEmployees") {
                    if ($("#CompanyCodeIdDdl").val() == "") {
                        toastr.error("The Company Code field is Required </br> The Department field is Required </br> The Employee field is Required  </br> The Pay Period field is Required");
                        e.stopPropagation();
                        return false;
                    }
                    if ($("#DepartmentIdDdl").val() == "") {
                        toastr.error("The Department field is Required  </br> The Employee field is Required  </br> The Payperiod field is Required");
                        e.stopPropagation();
                        return false;
                    }
                    if ($("#EmployeeIdDdl").val() == "") {
                        toastr.error("The Employee field is Required </br> The Payperiod field is Required");
                        e.stopPropagation();
                        return false;
                    }
                    if ($("#PayPeriodIdDdl").val() == "") {
                        toastr.error("The Payperiod field is Required");
                        e.stopPropagation();
                        return false;
                    }
                }
                if (role == "ClientEmployees") {
                    if ($("#PayPeriodIdDdl").val() == "") {
                        toastr.error("The Payperiod field is Required");
                        e.stopPropagation();
                        return false;
                    }
                }
            }

            if (e.type == "update" || e.type == "create") {
                var maxhours = $("#hdnMaxhours").val();
                var payperioddates = PayperiodDates();
                //Sub Grid Object. Returns only Editing Grid.
                var data = $("#" + gridName).data("kendoGrid").dataSource._data;
                var total = 0;
                var dailyhours = 0;
                var codedhours = 0;
                var subtotalclientdailyhours = 0;
                var timeout = 0;
                var timein = 0;
                var lunchback = 0;
                var lunchout = 0;
                var payperiodweekonetotal = 0;
                var payperiodweektwototal = 0;
                var totalclientdailyhours = 0;

                //Main Grid Object
                var mainData = $("#GridTimeCard").data("kendoGrid").dataSource._data;

                //RETURNS WEEKLY TOTAL BY PAY PERIOD
                var filterdata = filterTimeCardRecords();
                var appBaseUrl = $("#appBaseUrl").val();
                $.ajax({
                    url: appBaseUrl + "TimeCardMatrix/GetSumofWeekWiseApprovedTotal",
                    type: "GET",
                    async: false,
                    data: {
                        employeeIdDdl: filterdata.employeeIdDdl,
                        payPeriodId: filterdata.payPeriodId,
                        IsArchived: filterdata.IsArchived,
                        maxhours: maxhours
                    },
                    success: function (weeklytotal) {
                        //debugger;
                        payperiodweekonetotal = weeklytotal.weekOneTotalHours;
                        payperiodweektwototal = weeklytotal.weekTwoTotalHours;
                    }
                });

                //Sub Grid Validations
                for (i = 0; i < mainData.length; i++) {
                    if (mainData[i].TimeCardId == timeCardId) {
                        subtotalclientdailyhours = mainData[i].DailyHours;
                        break;
                    }
                }
                for (i = 0; i < data.length; i++) {
                    if ((data[i].TimeOut != null || data[i].LunchOut != null) && (data[i].TimeIn == null)) {
                        toastr.error('Time In is required ');
                        e.preventDefault();
                        e.stopPropagation();
                        return false;
                    }

                    if ((data[i].LunchBack != null) && (data[i].LunchOut == null)) {
                        toastr.error('Lunch Out is required ');
                        e.preventDefault();
                        e.stopPropagation();
                        return false;
                    }

                    if (data[i].PositionId == null) {
                        toastr.error('This Position Id is Requrired');
                        e.stopImmediatePropagation();
                        // e.stopPropagation();
                        return false;
                    }
                    var dailyhours = 0;
                    if (data[i].Hours != null && data[i].Hours != 0)
                        codedhours = data[i].Hours;
                    else
                        codedhours = 0;
                    if (codedhours != null) {
                        if (data[i].HoursCodeId == null && data[i].TimeOut == null && data[i].TimeIn == null) {
                            toastr.error("Please select Hour Code.");
                            e.preventDefault();
                            e.stopPropagation();
                            return false;
                        }
                    }
                    if ((data[i].TimeOut != null) && (data[i].TimeIn != null)) {
                        timeout = data[i].TimeOut;
                        timein = data[i].TimeIn;
                        dailyhours = timeDiffCal(timein, timeout);
                    }
                    else {
                        if (data[i].DailyHours != null && data[i].DailyHours != 0)
                            dailyhours = data[i].DailyHours;
                    }
                    if ((data[i].LunchOut != null) && (data[i].LunchBack != null)) {
                        lunchback = data[i].LunchBack;
                        lunchout = data[i].LunchOut;
                    }
                    if (dailyhours != 0) {
                        subtotalclientdailyhours += (dailyhours - timeDiffCal(lunchout, lunchback)) + codedhours;
                    }
                }
                //Sub Grid Daily 24 Hours Limit
                if (subtotalclientdailyhours >= 24) {
                    toastr.error('Total hours should not be greater than 24 Hours.');
                    $("#" + gridName).data("kendoGrid").dataSource.read();
                    e.stopPropagation();
                    return false;
                }


                //Session Limit Validation condition per each week.
                //Return the Current Page
                var timecardgrid = $("#GridTimeCard").data("kendoGrid");
                var currentPage = timecardgrid.dataSource.page();
                //alert("Current Page: " + currentPage);

                if (currentPage == 1) {
                    payperiodweekonetotal += eval($("#hdnWeekOneApprovedHours").val());
                    payperiodweekonetotal -= eval($("#hdnWeekOneUnApprovedHours").val());
                    //alert("Week One Total Approved Hours:" + eval($("#hdnWeekOneApprovedHours").val()));
                    //alert("Week One Total UnApproved Hours:" + eval($("#hdnWeekOneUnApprovedHours").val()));
                    //alert("Sub Grid Week One Total Approved Hours: " + payperiodweekonetotal + "/" + "Session Time:" + maxhours);
                    if (payperiodweekonetotal > maxhours) {
                        //toastr.error('Hours exceeded with session limit per week. Session Limit is:  ' + maxhours + ' Hours.');
                        //$("#" + gridName).data("kendoGrid").dataSource.read();
                        //$("#hdnWeekOneApprovedHours").val(0);
                        //$("#hdnWeekOneUnApprovedHours").val(0);
                        //e.stopPropagation();
                        //return false;

                        //Confirm dialogbox to approve more than session limit
                        var result = confirm('Hours exceeded with Session Limit per week ' + maxhours + '. Do you want to Approve?');
                        if (result == false) {
                            $("#" + gridName).data("kendoGrid").dataSource.read();
                            $("#hdnWeekOneApprovedHours").val(0);
                            $("#hdnWeekOneUnApprovedHours").val(0);
                            e.preventDefault();
                            e.stopPropagation();
                            return false;
                        }
                    }
                }
                if (currentPage == 2) {
                    payperiodweektwototal += eval($("#hdnWeekTwoApprovedHours").val());
                    payperiodweektwototal -= eval($("#hdnWeekTwoUnApprovedHours").val());
                    //alert("Week Two Total Approved Hours:" + eval($("#hdnWeekTwoApprovedHours").val()));
                    //alert("Week Two Total UnApproved Hours:" + eval($("#hdnWeekTwoUnApprovedHours").val()));
                    //alert("Sub Grid Week Two Total Approved Hours: " + payperiodweektwototal + "/" + "Session Time:" + maxhours);
                    if (payperiodweektwototal > maxhours) {
                        //toastr.error('Hours exceeded with session limit per week. Session Limit is:  ' + maxhours + ' Hours.');
                        //$("#" + gridName).data("kendoGrid").dataSource.read();
                        //$("#hdnWeekTwoApprovedHours").val(0);
                        //$("#hdnWeekTwoUnApprovedHours").val(0);
                        //e.stopPropagation();
                        //return false;

                        //Confirm dialogbox to approve more than session limit
                        var result = confirm('Hours exceeded with Session Limit per week ' + maxhours + '. Do you want to Approve?');
                        if (result == false) {
                            $("#" + gridName).data("kendoGrid").dataSource.read();
                            $("#hdnWeekTwoApprovedHours").val(0);
                            $("#hdnWeekTwoUnApprovedHours").val(0);
                            e.preventDefault();
                            e.stopPropagation();
                            return false;
                        }
                    }
                }
            }
        }
    }

    function overlappinghours(e, gridName, timeCardId) {
        var data = $("#" + gridName).data("kendoGrid").dataSource._data;
        var mainData = $("#GridTimeCard").data("kendoGrid").dataSource._data;

        if (data.length > 0 || e.type == "update" || e.type == "create") {

            for (var i = 0; i < data.length; i++) {

                if (data[i].dirty && data[i].TimeIn != null ) {

                    for (var k = 0; k < data.length; k++) {
                        if (!data[k].dirty) {
                            timein = data[i].TimeIn;
                            subTimein = data[k].TimeIn;
                            subTimeOut = data[k].TimeOut;
                            if (subTimein != null && subTimeOut != null) {
                                var overlap = timeOverlap(timein, null, subTimein, subTimeOut);
                                if (overlap) {
                                    toastr.error('Time In / Time Out Overlap with Other/Same Position.');
                                    e.preventDefault();
                                    e.stopImmediatePropagation();
                                    //e.stopPropagation();
                                    return false;

                                }
                            }
                            else {
                                if (data[i].TimeOut != null) {
                                    timeOut = data[i].TimeOut;
                                    if (subTimein != null && subTimeOut != null) {
                                    var overlap = timeOverlap(timein, timeOut, subTimein, subTimeOut);
                                    if (overlap) {
                                        toastr.error('Time In / Time Out Overlap with Other/Same Position.');
                                        e.preventDefault();
                                        e.stopImmediatePropagation();
                                        //e.stopPropagation();
                                        return false;
                                    }
                                }
                            }
                            }
                        }
                    }

                    for (var j = 0; j < mainData.length; j++) {

                        if (mainData[j].TimeCardId == timeCardId) {
                            timein = data[i].TimeIn;
                            mainTimein = mainData[j].TimeIn;
                            mainTimeout = mainData[j].TimeOut;
                            if (mainTimein != null && mainTimeout != null) {
                                var overlap = timeOverlap(timein, null, mainTimein, mainTimeout);
                                if (overlap) {
                                    toastr.error('Time In / Time Out Overlap with Other/Same Position.');
                                    e.preventDefault();
                                    e.stopImmediatePropagation();
                                    //e.stopPropagation();
                                    return false;
                                }
                            }
                            else {
                                if (data[i].TimeOut != null) {
                                    timeOut = data[i].TimeOut;
                                    if (mainTimein != null && mainTimeout != null) {
                                    var overlap = timeOverlap(timein, timeOut, mainTimein, mainTimeout);
                                    if (overlap) {
                                        toastr.error('Time In / Time Out Overlap with Other/Same Position.');
                                        e.preventDefault();
                                        e.stopImmediatePropagation();
                                        //e.stopPropagation();
                                        return false;
                                    }
                                }
                            }
                            }
                        }
                    }
                }

            }
        }
    }
</script>
