@using System.Web.Routing;
@{
    ViewBag.Title = "Employer";
    Layout = null;
}

@model ExecViewHrk.EfAdmin.Employer
@{
    string alert = "";
    if (ViewBag.AlertMessage != null)
    {
        alert = (string)ViewBag.AlertMessage;
    }
}

<div class="card p-15">
    <div class="card-header">
        <h5 class="card-header-text">Employer</h5>
    </div>
    <div class="card-block">
        <div class="row">
    @using (Html.BeginForm("EditEmployer", "HrkAdmin", FormMethod.Post, new { role = "form", id = "EmployerForm" }))
            {
        <div class="col-sm-3">
            <div class="form-group">
                <div class="input-group">
                    @Html.LabelFor(model => model.EmployerId, new { id = "employerId" })
                    @Html.TextBoxFor(x => x.EmployerId, new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationSummary(true)
                </div>
            </div>
        </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Employer Name</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.EmployerName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EmployerName)
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Database Name</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.DatabaseName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DatabaseName)
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 p-t-30">
                    <div class="form-group">
                            <div class="checkbox-color checkbox-primary">
                                @Html.ValidationMessageFor(model => model.IsClient)

                                @if (Model.IsClient == true)
                                {
                                    <input id="@Html.NameFor(x => x.IsClient)" type="checkbox" value="" checked="checked">
                                }
                                else


                                {
                                    <input id="@Html.NameFor(x => x.IsClient)" type="checkbox" value="">
                                }

                                @Html.LabelFor(x => x.IsClient)
                                @Html.HiddenFor(x => x.IsClient)
                            </div>
                        </div>
                </div>
                }
            </div>
        </div>
    </div>
<div class="p-15 text-right">
    <button type="button" class="btn btn-default waves-effect md-close m-r-15">Cancel</button>
    <button type="button" class="btn btn-primary" id="btnUpdateAjax">Update</button>
</div>
<script>
    $(document).ready(function () {
        pageSetup();
        loading(false)
    });
    $("#btnUpdateAjax").click(function (e) {
        e.preventDefault();
        
        if (!ValidateForm("EmployerForm")) {
            loading(false);
            return;
        }
        var postData = $("#EmployerForm").serializeArray();
        var formURL = $("#ApplicationUrl").val() + "HrkAdmin/EmployerListUpdateAjax";
        $.post(formURL, postData, function (data, status) {

            if (data.succeed == false) {
                toastr.error(data.Message);
            }
            else {
                var _oldhiddenEmployerId = $("#hiddenEmployerId").val();
               // resetGrid("gridEditEmployer");
                $("#btnUpdateAjax").parent().find(".md-close").click();
                if (_oldhiddenEmployerId != "0") {
                    toastr.success(formService.messages.updated);
                }
                else {
                    toastr.success(formService.messages.saved);
                }
            }
        });
    });
</script>


                    
                   



