@model ExecViewHrk.WebUI.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password : Exec View HRK</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" href="~/assets/images/hr-knowledge.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/custom.css" />
    <link href="~/assets/css/login-css.css" rel="stylesheet" />
</head>
<body class="login-bg-hr">
    <div class="wrapper">
        <div id="center-wrapper">
            <div id="overlay">
                <div id="mainLoginWrapper" style="display: inline-block;">
                    <div>
                        @Html.ValidationSummary(true, null, new { @class = "f-13 txt-theme" })
                        @if (ViewBag.Response != "")
                        {
                            <div class="alert alert-warning text-danger">@ViewBag.Response</div>
                        }
                        <div class="welcomeBlock m-b-10">
                            <h2 id="portal.login.welcome" class="f-w-600">Forgot User ID/Password</h2>
                        </div>
                    </div>
                    <div class="login-main" id="mainlogin">
                        <div style="  margin-bottom:30px; font-size:18px;">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken();
                                @Html.HiddenFor(x => x.Browser_Time, new { @Value = DateTime.UtcNow })
                                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                                <div>
                                    <input type="hidden" name="target" value="/portal/theme">
                                    <label class="loginLabel" id="login">User Name</label>
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "f-12 txt-theme" })

                                </div>
                                <div class="col-sm-12">&nbsp;</div>
                                <div class="col-sm-12 p-0 m-b-25">
                                    <span style="margin:auto;">
                                        <button type="button" class="btn btn-default waves-effect md-close myButton pull-left b-solid"
                                                onclick="window.location.href = '@Url.Action("Login", "Account")';">
                                            Cancel
                                        </button>
                                        <button type="submit" class="btn btn-primary waves-effect md-close myButton pull-right b-solid">Submit</button>
                                    </span>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
